@media (max-width: 768px) {
    .logo-header img {
        width: 100%;
        left: 0rem;
    }
    .container-header {
        flex-direction: column;
    }
    .links-header {
        display: none;
    }
    .toggle-button {
        display: block;
    }
    .navigation-Menu {
        display: none;
    }
    .navigation-Menu.active {
        display: block;
        width: 100%;
    }
    .navigation-Menu ul {
        flex-direction: column;
        text-align: center;
        background: rgb(53, 52, 52);
        height: 30vh;
    }
    .navigation-Menu ul li {
        margin: 25px 0px;
    }
    .navigation-Menu ul li a {
        color: white;
    }
    /* main */
    .main-container {
        flex-direction: column;
    }
    .main-container article {
        width: 100%;
    }
    .main-container article img {
        width: 100%;
    }
    .main-container article p {
        width: 100%;
        margin-left: 0rem;
    }
    /* main-second-container */
    .main-second-container {
        flex-direction: column;
    }
    .pic img {
        width: 100%;
    }
    #second-container-content {
        width: 90%;
        margin-top: 50px;
    }
    #second-container-content p {
        margin-left: 0rem;
        width: 90%;
    }
    #second-container-content h3 {
        width: 90%;
    }
    /* main-third-container */
    #main-third-container {
        flex-direction: column;
    }
    .front-End-Main {
        width: 100%;
    }
    .front-End-Main img {
        width: 100%;
    }
    .front-End-Main p {
        margin-left: 0rem;
    }
    /* main-fourth-container*/
    .main-fourth-container {
        flex-direction: column;
    }
    .main-fourth-container article {
        width: 90%;
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    .main-fourth-container p {
        margin-left: 0rem;
    }
    /* main-fourth-container2*/
    .main-fourth-container2 {
        flex-direction: column;
    }
    .main-fourth-container2 article {
        width: 90%;
        margin-left: 1rem;
        margin-bottom: 5rem;
    }
    .main-fourth-container2 h3 {
        margin: 20px 0px;
    }
    .main-fourth-container2 p {
        line-height: 1.9;
        margin-left: 0rem;
    }
    /* main-container-five */
    #main-container-five {
        flex-direction: column;
    }
    .logo-main-bio img {
        width: 100%;
    }
    .main-content {
        width: 80%;
        margin-top: 5rem;
    }
    .main-content p {
        margin-left: 0rem;
    }
    /* main-container-six */
    #main-container-six {
        flex-direction: column;
        width: 100%;
    }
    #main-container-six article img {
        width: 100%;
    }
    #main-container-six article {
        width: 80%;
        margin-left: 2rem;
    }
    #main-container-six article p {
        line-height: 2.2;
        margin-left: 0rem;
        width: 100%;
    }
    #main-container-six a {
        margin-top: 2rem;
        display: inline-block;
    }
    /* contact-main-container */
    #contact-main-container {
        flex-direction: column;
    }
    #contact-main-container article img {
        width: 100%;
    }
    #contact-main-container h3 {
        margin-left: 0rem;
    }
    #contact-main-container p {
        text-align: center;
        line-height: 2;
        width: 100%;
        margin-left: 0rem;
    }
    /*contacts*/
    .contacts {
        flex-direction: column;
    }
    .contacts article {
        padding: 50px 0px;
    }
    /* main-container-seven */
    .main-container-seven {
        flex-direction: column;
        width: 100%;
    }
    .main-container-seven p {
        width: 90%;
        font-size: 15px;
        line-height: 2.5;
        margin-left: 0rem;
    }
    .main-container-seven a {
        left: 3rem;
        top: 0rem;
        width: 100%;
        top: 4rem;
    }
    /* footer-main */
    .footer-main {
        flex-direction: column;
        text-align: center;
    }
    .footer-main article {
        margin: 20px;
    }
}

@media (max-width: 1024px) {
    /* header */
    .logo-header img {
        width: 100%;
        left: 0;
    }
    .container-header {
        flex-direction: column;
        width: 100%;
    }
    .container-header {
        width: 100%;
    }
    .navigation-Menu ul {
        width: 100%;
        margin-top: 2rem;
    }
    .form-header {
        width: 100%;
        margin-top: 1rem;
    }
    /* main */
    /* main-container */
    .main-container {
        flex-direction: column;
    }
    .main-container article {
        width: 100%;
    }
    .main-container article img {
        width: 100%;
    }
    .main-container article p {
        width: 100%;
        margin-left: 0rem;
    }
    /* main-second-container */
    .main-second-container {
        flex-direction: column;
    }
    .main-second-container article img {
        width: 100%;
    }
    .main-second-container p {
        margin-left: 0rem;
    }
    #second-container-content {
        width: 100%;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    /* main-third-container */
    #main-third-container {
        flex-direction: column;
    }
    /* front-End-Main */
    .front-End-Main {
        width: 100%;
    }
    /* main-fourth-container */
    .main-fourth-container {
        flex-direction: column;
    }
    .main-fourth-container article {
        width: 90%;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }
    .main-fourth-container2 {
        flex-direction: column;
    }
    .main-fourth-container2 article {
        width: 90%;
        margin-left: 2rem;
        margin-bottom: 2rem;
        line-height: 2.0;
    }
    /* main-container-five */
    #main-container-five {
        flex-direction: column;
    }
    .logo-main-bio img {
        width: 100%;
    }
    .main-content {
        width: 90%;
        margin-top: 3rem;
    }
    /* main-container-six */
    #main-container-six {
        flex-direction: column;
        width: 90%;
    }
    #main-container-six .img {
        width: 100%;
    }
    #main-container-six article p {
        line-height: 2;
    }
    /* contact-main-container */
    #contact-main-container {
        flex-direction: column;
    }
    #contact-main-container article img {
        width: 100%;
    }
    #contact-main-container article h3,
    p {
        margin-left: 5rem;
        margin-top: 5rem;
    }
    /* contacts */
    .contacts {
        flex-direction: column;
        margin-top: 0rem;
    }
    .contacts article {
        margin: 50px 0px;
    }
    /* main-container-seven */
    .main-container-seven {
        width: 100%;
    }
    .main-container-seven p {
        width: 100%;
    }
    .main-container-seven a span {
        left: 0rem;
        margin-left: 0rem;
    }
    .main-container-seven a {
        left: 0rem;
    }
    .footer-main {
        width: 100%;
    }
}

@media (max-width: 1680px) {
    .main-container article img {
        width: 100%;
    }
    .main-container article h3 {
        width: 100%;
        font-size: 25px;
    }
    .main-container article p {
        width: 100%;
        margin-left: 0rem;
    }
    /* main-second-container*/
    .main-second-container {
        width: 100%;
    }
    .main-second-container article img {
        width: 70%;
    }
    #second-container-content {
        width: 100%;
    }
    #contact-main-container article {
        width: 100%;
    }
    .main-container-seven a {
        width: 100%;
    }
    .main-container-seven {
        margin-left: 0rem;
        width: 100%;
    }
}