* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
}

header {
    background: linear-gradient(rgba(10, 10, 10, 0.967), rgba(31, 30, 30, 0.638)), url(../Picture/bridges.png);
    background-position: center;
    background-size: cover;
    height: 110vh;
}


/* container-contact */

.container-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* logo-contact */

.logo-contact img {
    width: 300px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    color: rgb(248, 248, 248);
}

nav ul li .Home-only {
    color: rgb(255, 0, 0);
    font-weight: 600;
}

nav ul li a:hover {
    color: rgba(255, 166, 0, 0.529);
    transition: 1.5s ease-in-out;
}

nav ul li::after {
    content: '';
    width: 0px;
    height: 2px;
    background: #f4433682;
    display: block;
    margin: auto;
    transition: 1s ease;
}

nav ul li:hover::after {
    width: 80%;
}


/* dropMen8 */

.dropbtn {
    border: none;
    outline: none;
    background: rgba(177, 176, 176, 0);
    color: white;
    font-size: 17px;
}

.dropbtn {
    color: rgb(243, 243, 243);
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    color: rgb(240, 240, 240);
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgb(10, 195, 228);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(250, 249, 249);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: orange;
    transition: 1s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.big-conteiner-contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 200px;
}

.toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.toggle-button .box {
    height: 3px;
    width: 25px;
    background: grey;
    border-radius: 3px;
    display: block;
    margin-bottom: 4px;
}

.toggle-button {
    display: none;
}


/* container-main-contact */

.container-main-contact {
    color: rgb(224, 218, 216);
}

.container-main-contact article h1 {
    font-size: 40px;
    width: 50%;
    margin-bottom: 30px;
}

.container-main-contact .content {
    font-size: 30px;
    width: 80%;
    margin-bottom: 200px;
}

.adres,
.email {
    font-size: 20px;
    margin-bottom: 20px;
}

.phone {
    font-size: 20px;
}

.container-main-contact2 {
    color: rgb(179, 24, 24);
    background: rgba(16, 14, 14, 0);
    width: 25%;
    position: relative;
    right: 200px;
}

.form-wrap {
    color: rgb(255, 251, 251);
}

.form-wrap {
    background: linear-gradient(rgba(8, 8, 8, 0), rgba(0, 0, 0, 0));
    padding: 30px;
    border-radius: 10px;
}

label {
    display: block;
    font-weight: 200;
}

 ::placeholder {
    position: relative;
    left: 20px;
}

.form-wrap input {
    width: 100%;
    height: 60px;
    background: rgba(165, 162, 162, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(107, 102, 102);
    outline: none;
}

.form-group {
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: center;
}

input[type=submit] {
    background: linear-gradient(rgba(201, 96, 10, 0.7), rgba(74, 18, 119, 0.72));
    color: white;
    font-size: 18px;
    border: none;
    margin: 25px 10px;
    outline: none;
}